body{
    background-color: gray;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

h1{
    font-family: questa, serif;
    font-style: normal;
    font-weight: 700;
}

p{
    font-family: 'Times New Roman', Times, serif;
}